:root {
    --background-clr: #FAFAFA;
    --secondary-clr: #282846;
    --primary-clr: #FFF;
    --dark_primary-clr: #e2e7e3;
    --task_border_clr: rgba(40, 40, 70, 0.1);
    --secondary-clr-trn: rgba(0, 0, 0, 0.5);
}